.ibox-content.product-box{
	position:relative;

	.glyphicon.glyphicon-pencil{
		position: absolute;
	    right: 10px;
	    text-align: right;
	    top: 10px;
        
	}
}

.group.wrapper {
    
    .groupContainer{
    	margin:10px 0;
    }
    .createGroupBtn{
            float: right;
    } 

     .createGroupForm {
	  margin-bottom: 10px;
	}

	.checkIcon{
	    float:right;
	}

	

}

.groupAddUsers{
    .list-group{
        max-height: 300px;
        overflow-y: auto;
        
        li{
            padding: 5px 15px;
            .btn{
                margin-bottom: 0;
            }
        }
    }
     searchbar {
            .SearchBox{
                border: 1px solid #e7eaec;
                border-top: 0;
                border-radius: 0;
            }   
        }
	.addContactsTxtContainer{
		padding:10px;

		.fa.fa-sort-down{
			float:right;
		}
        
       
	}

	.list-group{

		margin-top:10px;

		li{
			cursor:pointer;

			.checkIcon{
				float:right
			}
			
		}
	}
}