<div class="userDetailsContainer">    
    <div class="container-fluid overlay">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
     
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading modalHeading">
              <h3 class="panel-title">{{userDetails.name}}</h3>
                 <span class="pull-right"  ng-click="config.showUserPopUp=false">
                        
                            <span data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></span   >
                 </span>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="img/default-avatar.png" class="img-circle img-responsive"> </div>
                
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Department:</td>
                        <td>{{userDetails.department}}</td>
                      </tr>
                      <tr>
                        <td>Hire date:</td>
                        <td>{{userDetails.hireDate}}</td>
                      </tr>
                      <tr>
                        <td>Date of Birth</td>
                        <td>{{userDetails.dob}}</td>
                      </tr>
                   
                         <tr>
                             
                        <td>Gender</td>
                        <td>{{userDetails.gender}}</td>
                      </tr>
                        <tr>
                        <td>Home Address</td>
                        <td>{{userDetails.homeAddress}}</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">{{userDetails.email}}</a></td>
                      </tr>
                        <tr>
                        <td>Phone Number</td>
                        <td>{{userDetails.phone}}
                        </td>
                           
                      </tr>
                     
                    </tbody>
                  </table>
                  
                  <a href="#" class="btn btn-primary">My Sales Performance</a>
                  <a href="#" class="btn btn-primary">Team Sales Performance</a>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove" ng-click="config.showUserPopUp=false"></i></a>
                        </span>
                    </div>
            
          </div>
        </div>
      </div>
    </div>
</div>